# Build results
**/bin/
**/obj/
**/artifacts/

# BenchmarkDotNet
**/BenchmarkDotNet.Artifacts/

# NuGet
*.nupkg
*.snupkg

# IDE
*.user
*.suo
*.cache
.vs/
.vscode/
*.DotSettings.user
.idea/
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Temporary
tools/
